.jiao{height: 355px;
    .jiaot{background-color: #F7F7F7;height: 155px;padding-top: 25px;
        .linkul{
            float:left;width: 583px;height: 100%;
            li{float: left;width: 25%;height: 100%;}
            h3{font-size: 18px;color:#666666;font-weight: bold;}
            p{font-size: 12px;font-size: #666666;margin-top: 8px;}
        }
        .linkr{
            ul{height: 100%;}
            li{width: 50%;height: 100%;float: left}
            float: left;width: 510px;height: 100%;margin-left: 105px;
            img{float: left;}
            div{float: left;
                padding-left: 5px;
                h3{font-size: 16px ;font-weight: bold;color:#666666;
                    }
                p{font-size: 8px;color:#666666;width: 100%;margin-top: 8px;}
                }
        }
    }
    .jiaob{background-color: #2D2D2D;height: 174px;
        .container{height: 100%;
             .jiaobl{width: 828px;float: left;height: 100%;
                .jl{
                    height: 24px;margin-top: 36px;
                    li{float: left;color:#fff;font-size: 14px;border-right: 1px solid #999999;
                        span{height: 12px;padding: 2px 8px;}
                    }
                }
                .ul2{
                    height: 24px;margin-top: 28px;color:#999999;
                    li{height: 16px;float: left;padding: 2px 8px;border-right: 1px solid #999999;font-size: 12px;}
                    }
                }
               
                .jiaor{float: left;width: 282px;height: 174px;margin-left: 90px;padding-top: 25px;
                    img{float: left;}
                }
           }
    }
}