.box{width: 1438px;box-sizing:border-box;}
$font-size: 14px !global;

.lunbo{
  height: 400px;overflow: hidden;position:relative;
  .bba{
    position:relative;
    >li{
         position:absolute;
    }
    .act{z-index:2;}
    .minul{width: 51px;height: 15px;position:absolute;left:700px;top: 380px;z-index:5;
        .minli{width: 15px;height: 15px;float: left;border-radius:50%; background-color: #fff;margin-left: 2px }
        .active{background-color: #CE1A1B;}
    }
  }
  .arrow{display:block;width: 80px;height: 120px;background:url('../img/arrow.png');z-index:8;position:absolute;top:160px;left:25px;background-position:0 -94px;}
  .right{display:block;width: 80px;height: 120px;background:url('../img/arrow.png');z-index:8;position:absolute;top:160px;right:60px;}
}
.main{background-color:#F7F7F7;}
.main>.container{height: 3915px;border-bottom: 1px solid #D9D9D9;}

.container>.tuangou{height: 412px;padding-top: 29px;
    >h3{height: 50px;background:url('../img/tuan.png') no-repeat;padding-left: 49px;line-height: 50px;font-size: 24px;}
    .gengduo{float:right;padding-right:26px;font-size:14px;}
    >.tab{height: 150px;overflow: hidden;width: 100%;position:relative;
        >ul{width: 5000px;height: 150px;position:absolute;}
        li{
            width: 399px;margin-right: 2px;height: 150px;float: left;

        }
        .tl{background-color: #FFF6DD;
            .tlr{width: 251px;height: 100%;float: left;height: 50px;
                >h3{line-height: 50px;font-size: 24px;text-align: center;color:red;}
                p{margin-top: 20px;color:red;font-size: 26px;margin-left: 15px;}
            }
            .tl2{float: right;padding-top: 8px;padding: 15px 10px 0 0;}
        }
        .tc{background-color: #FFE5E5;
                    .tlr{width: 251px;height: 100%;float: left;height: 50px;
                >h3{line-height: 50px;font-size: 24px;text-align: center;color:red;}
                p{margin-top: 20px;color:red;font-size: 26px;margin-left: 15px;}
            }
            .tl2{float: right;padding-top: 8px;padding: 15px 10px 0 0;}}
        .tr{background-color: #E3F9FF;
                    .tlr{width: 251px;height: 100%;float: left;height: 50px;
                >h3{line-height: 50px;font-size: 24px;text-align: center;color:red;}
                p{margin-top: 20px;color:red;font-size: 26px;margin-left: 15px;}
            }
            .tl2{float: right;padding-top: 8px;padding: 15px 10px 0 0;}}
    }
    .tab2{height: 38px;background-color: red;position:relative;
        >ul{width: 105px;background-color: pink;height: 8px;position:absolute;left:554px;top:15px;
            li{
                float: left;margin-right: 2px;width: 33px;background-color: green;height: 8px;
                }}
        }
    .juan{margin-top: 42px;}
}

.zhixuan{height: 780px;
    >h3{height: 50px;background:url('../img/zhixuan.png') no-repeat;padding-left: 49px;line-height: 50px;font-size: 24px;}
    .zmain{width: 1159px;height: 656px;background-color: #fff;padding:21px  22px;
        .zmain-t{height: 418px;
            .ztl{width: 727px;height: 418px;float: left;  
                .ula{height: 237px;
                    .ul01{width: 102px;height: 237px;float: left;
                        li{list-style:none;height: 45px;margin-top: 2px;text-align: center;background-color: #ECECEC;color:#333333;line-height: 46px;}
                        .active{background-color: #CE1A1B;color:#fff;}
                        }
                    .ul02{width: 625px;height: 100%;float: left;position:relative;
                        li{height: 100%;position:absolute;left: 0;top: 0;}
                        }
                    
                    }
                .ulb{height: 182px;
                        li{width: 180.7px;height: 182px;float: left;margin-right:1px;position:relative;overflow: hidden;
                            .move{width: 180px;height: 182px;background:rgba(0,0,0,0.6);position:absolute;left: 0;top: 150px;
                                h3{height: 30px;color:#fff;text-align: center;line-height: 30px;}
                            }
                        }
                     }   
                }
            .ztr{width: 428px;height: 418px;background-color: red;float: left;margin-left: 3px;border-top: 2px solid #EEC65B;
                .ztlt{height: 228px;
                    a{
                        float: left;
                        zoom:1;
                        }
                }
            }
        .zmain-b{height: 240px;background-color: red}
    }
    }
}
.main .pinpai{height: 420px;
    >h3{height: 45px;font-size:24px;padding-left: 41px;background:url('../img/pinpai.png') no-repeat;line-height: 35px;
        span{font-size: 12px;color:#999999;margin-left: 6px;}
     }
     .da{height: 339px;}
     ul{height: 339px;width: 958px;float: right;
        li{width: 217px;height: 100%;float: left;margin-right: 12px;padding: 0 5px;background-color: #fff;
            img{width: 200px;height: 200px;}
            h4{height: 30px;margin-top: 30px;text-align: center;font-size: 14px;}
            p{font-size: 16px;color:red;text-align: center;}
        }


     }
}


.main .jingji{height: 650px;
    >h3{height: 44px;padding-left: 40px;background:url('../img/dianzi.png') no-repeat;font-size:24px;line-height: 36px;
        >span{float: right;font-size:12px;color:#999;margin-right: 5px;height: 44px}
    }
    .jingjil{width: 595px;height: 564px;float: left;margin-right: 11px;
        >.rem{height: 45px;background-color: #7095EE;
            >h3{height: 100%;width: 80px;float: left;text-align: center;line-height: 45px;font-size: 20px;color:#fff;font-weight: bold;background-color: #7095EE;}
            >ul{width: 220px;height: 100%;float: right;background-color: #7095EE;
                li{float: left;padding:0 10px;line-height: 45px;color:#fff;font-size: 14px;}
            }
        }
        .rem2{height: 260px;background-color: red;position:relative;overflow: hidden;
            ul{width: 1785px;height: 100%;position:absolute;left: 0;top: 0;
                li{float: left}
            }
        }
        .san{height: 260px;
            li{float: left;width: 150px;height: 260px;width: 172px;float: left;width: 160px;padding: 0 19px;background-color: #fff;
                img{width: 160px;height: 160px;}
                h4{height: 30px;margin-top: 30px;text-align: center;font-size: 14px;overflow: hidden;}
                p{font-size: 16px;color:red;text-align: center;}
            }
            
        }
    }
    .jingjir{width: 595px;height: 564px;float: right;
        >.djdiv{background-color: #9B74E9;height: 37px;font-size: 20px;color:#fff;font-weight: bold;padding:8px 0 0 16px}
        ul{height: 519px;
            li{height: 260px;width: 172px;float: left;width: 160px;padding: 0 19px;background-color: #fff;
                img{width: 160px;height: 160px;}
                h4{height: 30px;margin-top: 30px;text-align: center;font-size: 14px;}
                p{font-size: 16px;color:red;text-align: center;}
            }
        }
    }
}

.main .chaoliu{height: 692px;
    >h3{height: 44px;padding-left: 40px;background:url('../img/chaoliu.png') no-repeat;font-size:24px;line-height: 36px;
        >span{font-size:12px;color:#999;margin-right: 5px;height: 44px;margin-left: 6px;}
    }
    .cll{width: 595px;height: 648px;float: left;margin-right: 11px;
        h3{background-color:#3CCBBC;height: 46px;line-height: 46px;padding-left: 15px;color:#fff; font-size: 20px;
            span{float: right;font-size: 14px;margin-right: 3px;}  
            .atim{display:inline-block;width: 16px;height: 16px;border: 1px solid #fff;margin-top: 15px;text-align: center;line-height: 14px;border-radius:50%;margin-right: 8px;}      
         }
        .cllt{height: 522px;
             li{height: 260px;width: 172px;float: left;width: 160px;padding: 0 19px;background-color: #fff;
                img{width: 160px;height: 160px;}
                h4{height: 30px;margin-top:30px;text-align: center;font-size: 14px;    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                p{font-size: 16px;color:red;text-align: center;}
            }           
        }
        >ul{height: 80px;
            li{width: 25%;height: 100%;float: left;position:relative;
                span{position:absolute;left:24px;top:32px;border-right: 1px solid #999;height: 20px;display:block;width: 121px;}
                img{position:absolute;left:13px;top:10px;}
            }
        }
    }
    .clr{width: 595px;height: 648px;float: right;
        h3{background-color:#EB9E74;height: 46px;line-height: 46px;padding-left: 15px;color:#fff; font-size: 20px;
            span{float: right;font-size: 14px;margin-right: 3px;}  
            .atim{display:inline-block;width: 16px;height: 16px;border: 1px solid #fff;margin-top: 15px;text-align: center;line-height: 14px;border-radius:50%;margin-right: 8px;}      
         }
        .clrt{ height: 522px;
            li{height: 260px;width: 172px;float: left;width: 160px;padding: 0 19px;background-color: #fff;
                img{width: 160px;height: 160px;}
                h4{height: 30px;margin-top:30px;text-align: center;font-size: 14px;    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                p{font-size: 16px;color:red;text-align: center;}
            } 
        }
        >ul{height: 80px;
            li{width: 25%;height: 100%;float: left;position:relative;
                span{position:absolute;left:24px;top:32px;border-right: 1px solid #999;height: 20px;display:block;width: 121px;}
                img{position:absolute;left:13px;top:10px;}
            }
        }
    }
}
.main .rexiao{height: 788px;border-bottom: 1px solid #D9D9D9;
    >h3{height: 94px;background:url('../img/rexiao1.png') repeat-x left center;
        >div{font-size: 24px;display:inline-block;width: 150px;text-align: center;height: 100%;margin-left: 533px;line-height: 94px;background-color: #F7F7F7;}
    }
    >ul{height: 652px;
        li{height: 300px;width: 195px;float: left;padding: 10px 15px;background-color: #fff;margin: 0 0 15px 15px;
                img{width: 200px;height: 200px;}
                h4{height: 30px;margin-top:30px;text-align: center;font-size: 14px;    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                p{font-size: 16px;color:red;text-align: center;}
            }
    }
}



.main .baozhang{height: 112px;margin-top: 16px;
    ul{
        height: 100%;
        li{width: 200px;float: left;height: 100%;
            >div{
                float: left;color:#333333;
                h3{font-size: 18px;margin-top: 36px;padding-left: 6px;}
                p{font-size: 14px;padding-left: 6px;}
                }
            >img{float: left}
            }
        }}
